<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Application</title>
</head>
<body>
    <h1>Welcome to the Movie Application</h1>

    <a href="/movies">
        <button type="button">Show All Movies</button>
    </a>

    <a href="/add_movie">
        <button type="button">Add a New Movie</button>
    </a>

    <a href="/update_movie">
        <button type="button">Update a Movie's Details</button>
    </a>

    <a href="/delete_movie">
        <button type="button">Delete a Movie</button>
    </a>
</body>
</html>
